<header class="header header-3">
  <div class="container">
    <div class="header_inner d-flex align-items-center justify-content-between">
      <div class="logo">
        <a href="/" class="light_logo">
          <img src="/images/logo-header.png" alt="logo" />
        </a>
        <a href="/" class="dark_logo">
          <img src="/images/logo-header.png" alt="logo" />
        </a>
      </div>

      <div class="mainnav d-none d-lg-block">
        <ul class="main_menu">
          <li class="menu-item"><a href="/projects">Projects</a></li>
          <li class="menu-item"><a href="/about">About</a></li>
          <li class="menu-item"><a href="/shop">Shop</a></li>
          <li class="menu-item"><a href="/blog">Blog</a></li>
          <li class="menu-item"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="header_right_part d-flex align-items-center">
        <button class="aside_open">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
      </div>
    </div>
  </div>
</header>
<div class="aside_info_wrapper">
  <button class="aside_close"><i class="bi bi-x-lg"></i></button>
  <div class="aside_logo">
    <a href="/" class="light_logo">
      <img src="/images/logo-full.png" alt="logo" />
    </a>
    <a href="/" class="dark_logo">
      <img src="/images/logo-full.png" alt="logo" />
    </a>
  </div>
  <div class="aside_info_inner">
    <p>
      TAP is a full-service design firm providing architecture architecture.
    </p>

    <div class="aside_info_inner_box">
      <h5>Contact Info</h5>
      <p>+91 8317411793</p>
      <p>Banglore , India</p>
      <p>project@thearchiplace.com</p>

      <h5>Office Address</h5>
      <p>
        The Architecture Place,<br />BTM 4th Stage, <br />Vijaya Bank Layout,
      </p>
    </div>
    <div class="social_sites">
      <ul class="d-flex align-items-center justify-content-center">
        <li>
          <a href="#"><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-youtube"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
