<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <meta name="description" content="Lorem is a Modern Architecture Theme" />
    <meta name="author" content="" />

    <!-- Favicon and touch Icons -->
    <link href="/assets/img/favicon.png" rel="shortcut icon" type="image/png" />
    <link href="/assets/img/apple-touch-icon.html" rel="apple-touch-icon" />
    <link
      href="/assets/img/apple-touch-icon-72x72.html"
      rel="apple-touch-icon"
      sizes="72x72"
    />
    <link
      href="/assets/img/apple-touch-icon-114x114.html"
      rel="apple-touch-icon"
      sizes="114x114"
    />
    <link
      href="/assets/img/apple-touch-icon-144x144.html"
      rel="apple-touch-icon"
      sizes="144x144"
    />

    <!-- Page Title -->
    <title>TAP - Modern Architecture</title>

    <!-- Styles Include -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <style>
      @media only screen and (max-width: 800px) {
        .theme_slider_3
          .swiper-slide
          .slider
          .slide_content
          .slide_content_wrapper
          .slide_content_inner
          h4 {
          font-size: 34px !important;
        }
      }
    </style>
  </head>

  <body class="bg-white">
    <!-- Preloader -->
    <div id="preloader">
      <div class="preloader-inner">
        <div class="spinner"></div>
        <div class="loading-text">
          <span data-preloader-text="T" class="characters">T</span>

          <span data-preloader-text="A" class="characters">A</span>

          <span data-preloader-text="P" class="characters">P</span>
        </div>
      </div>
    </div>

    <!-- Color Mode Switcher -->
    <div id="mode_switcher" class="d-none">
      <span><i class="bi bi-moon-fill"></i></span>
    </div>

    <!-- Cursor Effect -->
    <div class="pointer bnz-pointer" id="bnz-pointer"></div>

    <!-- Header -->
    <%- include('header'); -%>

    <!-- Main Wrapper-->
    <main class="wrapper">
      <div class="theme_slider_3 p-0">
        <div class="swiper swiper_theme_slider_3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="slider"
                style="background-image: url('/assets/img/slider/15.jpg')"
              >
                <div class="container">
                  <div class="slide_content">
                    <div class="slide_content_wrapper mb-0 h-auto">
                      <div class="slide_content_inner">
                        <h4>
                          <a href="/" class="text-white text-uppercase"
                            >The Architecture Place</a
                          >
                        </h4>
                        <div class="details_link">
                          <a href="/contact">
                            <span class="link_text"
                              >Wellness Through Spaces -
                            </span>
                            <span class="link_icon">Click Here</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div
                class="slider"
                style="background-image: url('/assets/img/slider/16.jpg')"
              >
                <div class="container">
                  <div class="slide_content">
                    <div class="slide_content_wrapper mb-0 h-auto">
                      <div class="slide_content_inner">
                        <h4>
                          <a href="/" class="text-white text-uppercase"
                            >Award Winning</a
                          >
                        </h4>
                        <div class="details_link">
                          <a href="/about">
                            <span class="link_text"
                              >Young Architecture Practice -
                            </span>
                            <span class="link_icon">Click Here</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div
                class="slider"
                style="background-image: url('/assets/img/slider/17.jpg')"
              >
                <div class="container">
                  <div class="slide_content">
                    <div class="slide_content_wrapper mb-0 h-auto">
                      <div class="slide_content_inner">
                        <h4>
                          <a href="/" class="text-white text-uppercase"
                            >Research Intensive Design</a
                          >
                        </h4>
                        <div class="details_link">
                          <a href="/projects">
                            <span class="link_text"
                              >Avant-garde Aesthetics-
                            </span>
                            <span class="link_icon">Click Here</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Pagination -->
          <!-- <div class="swiper-pagination"></div> -->

          <!-- Add Buttons -->
          <div
            class="swiper-button-prev details_link l-dir pagination-previous"
          >
            <a href="#"
              ><span class="link_icon"
                ><span class="line"></span> <span class="circle"></span
                ><span class="dot"></span></span
            ></a>
          </div>
          <div class="swiper-button-next details_link r-dir pagination-next">
            <a href="#"
              ><span class="link_icon"
                ><span class="line"></span> <span class="circle"></span
                ><span class="dot"></span></span
            ></a>
          </div>
        </div>
        <!-- <div class="rotate-logo d-none d-md-block">
          <span class="rotate-bg"
            ><img src="/assets/img/slider/rotate-logo-dark.png" alt="spinlogo"
          /></span>
          <span class="rotate-text"
            ><img
              src="/assets/img/slider/rotate-logo-text-dark.png"
              alt="spinlogo"
          /></span>
        </div> -->
      </div>

      <section
        class="projects masonry bg-transparent effect-tilt p-0 mt-lg-minus"
      >
        <div class="container">
          <div class="grid grid-2 gutter-90 clearfix">
            <div class="grid-sizer"></div>
            <div
              class="grid-item residences"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project1.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h5>
                      <a href="/">California young menz club</a>
                    </h5>
                    <h6><a href="#">Club House</a></h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="grid-item interiors"
              data-aos="fade-up"
              data-aos-duration="900"
            >
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project2.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h5>
                      <a href="/">Sunlight in the Room</a>
                    </h5>
                    <h6>
                      <a href="#">Club House</a>, <a href="#">Interior</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="grid-item residences"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project3.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h5>
                      <a href="/">Find your own self invintage lake house</a>
                    </h5>
                    <h6>
                      <a href="#">Club House</a>, <a href="#">Interior</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="grid-item landscape exterior"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project4.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h5>
                      <a href="/">Well decor house in Sydney</a>
                    </h5>
                    <h6>
                      <a href="#">Club House</a>, <a href="#">Interior</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="grid-item landscape"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project5.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h5>
                      <a href="/">Huge large area Bedroom</a>
                    </h5>
                    <h6>
                      <a href="#">Club House</a>, <a href="#">Interior</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="grid-item interiors"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project6.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h5>
                      <a href="/">Clean water in the swiming pool</a>
                    </h5>
                    <h6>
                      <a href="#">Club House</a>, <a href="#">Interior</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="grid-item interiors"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project7.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h5>
                      <a href="/">California young menz club</a>
                    </h5>
                    <h6>
                      <a href="#">Club House</a>, <a href="#">Interior</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="grid-item residences"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project8.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h5>
                      <a href="/">Newyork golf club house</a>
                    </h5>
                    <h6>
                      <a href="#">Club House</a>, <a href="#">Interior</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="btn_group w-100 text-center">
            <button id="load-more" class="btn black w-100">
              Show More Project(s)
            </button>
          </div> -->
        </div>
      </section>

      <!-- <section class="blog pt-lg bg-dark-100">
        <div class="large_font">
          <h2
            class="floating_element text-dark-200 d-flex justify-content-center"
          >
            Latest
          </h2>
        </div>
        <div class="container">
          <div class="section-header text-center has_line">
            <h2 class="text-white">LATEST BLOGS</h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="blog_post mb-0">
                <img src="../assets/img/blog/1.jpg" alt="img" />
                <div class="blog_content">
                  <h2 class="post-count">01</h2>
                  <div class="meta">
                    <time class="text-olive" datetime="2022-10-20"
                      >OCTOBER 20, 2022</time
                    >
                  </div>
                  <h5>
                    <a href="/blog" class="text-white"
                      >Recent trends in designing space interiors 2019</a
                    >
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet consecteur adipiscing elitsed do
                    eiusmod tempor incididunt labo dolore magnaaliqua. Ut eni ad
                    minim veniam dolor sit amet consecteur.....
                  </p>
                  <div class="details_link">
                    <a href="/blog"
                      ><span class="link_text">View Details</span>
                      <span class="link_icon"
                        ><span class="line"></span> <span class="circle"></span
                        ><span class="dot"></span></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="blog_post mb-0">
                <img src="../assets/img/blog/2.jpg" alt="img" />
                <div class="blog_content">
                  <h2 class="post-count">02</h2>
                  <div class="meta">
                    <time class="text-olive" datetime="2022-10-20"
                      >OCTOBER 20, 2022</time
                    >
                  </div>
                  <h5>
                    <a href="/blog" class="text-white"
                      >Space optimization is now considered as art</a
                    >
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet consecteur adipiscing elitsed do
                    eiusmod tempor incididunt labo dolore magnaaliqua. Ut eni ad
                    minim veniam dolor sit amet consecteur.....
                  </p>
                  <div class="details_link">
                    <a href="/blog"
                      ><span class="link_text">View Details</span>
                      <span class="link_icon"
                        ><span class="line"></span> <span class="circle"></span
                        ><span class="dot"></span></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="blog_post mb-0">
                <img src="../assets/img/blog/3.jpg" alt="img" />
                <div class="blog_content">
                  <h2 class="post-count">03</h2>
                  <div class="meta">
                    <time class="text-olive" datetime="2022-10-20"
                      >OCTOBER 20, 2022</time
                    >
                  </div>
                  <h5>
                    <a href="/blog" class="text-white"
                      >Aga khan Award , 2019 see the best shots</a
                    >
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet consecteur adipiscing elitsed do
                    eiusmod tempor incididunt labo dolore magnaaliqua. Ut eni ad
                    minim veniam dolor sit amet consecteur.....
                  </p>
                  <div class="details_link">
                    <a href="/blog"
                      ><span class="link_text">View Details</span>
                      <span class="link_icon"
                        ><span class="line"></span> <span class="circle"></span
                        ><span class="dot"></span></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <section class="contact_us pt-4">
        <div class="container">
          <!-- Clients Logo -->
          <div class="partner_flex">
            <div
              class="partner_content"
              data-aos="fade-up"
              data-aos-duration="500"
            >
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/5.svg"
                alt="img"
              />
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/55.svg"
                alt="img"
              />
            </div>
            <div
              class="partner_content"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/2.svg"
                alt="img"
              />
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/22.svg"
                alt="img"
              />
            </div>
            <div
              class="partner_content"
              data-aos="fade-up"
              data-aos-duration="900"
            >
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/4.svg"
                alt="img"
              />
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/44.svg"
                alt="img"
              />
            </div>
            <div
              class="partner_content"
              data-aos="fade-up"
              data-aos-duration="1100"
            >
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/1.svg"
                alt="img"
              />
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/11.svg"
                alt="img"
              />
            </div>
            <div
              class="partner_content"
              data-aos="fade-up"
              data-aos-duration="1300"
            >
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/3.svg"
                alt="img"
              />
              <img
                src="https://wpthemebooster.com/demo/themeforest/html/mrittik/assets/img/partner/33.svg"
                alt="img"
              />
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer-->
    <%- include('footer'); -%>

    <div class="totop">
      <a href="#">UP</a>
    </div>

    <!-- Section Grid Lines -->
    <ul class="grid_lines d-none d-md-flex justify-content-between">
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
    </ul>

    <!-- Core JS -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Side Menu -->
    <script src="/plugins/menu/ma5-menu.min.js"></script>

    <!-- Swiper for Slider Type -->
    <script src="/plugins/swiper/swiper-bundle.min.js"></script>

    <!-- Portfolio -->
    <script src="/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="/plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/plugins/isotope/packery-mode.pkgd.js"></script>
    <script src="/plugins/isotope/tilt.jquery.js"></script>
    <script src="/plugins/isotope/isotope-init.js"></script>

    <!-- Cursor Effect -->
    <script src="/plugins/cursor-effect/cursor-effect.js"></script>

    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.min.js"></script>

    <!-- AOS effect JS -->
    <script src="/plugins/aos/aos.js"></script>

    <!-- Theme Custom JS -->
    <script src="/assets/js/theme.js"></script>
  </body>
</html>
