<!DOCTYPE html>
<html lang="zxx">
  <!-- Mirrored from wpthemebooster.com/demo/themeforest/html/mrittik/light/project-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 18 Apr 2023 08:20:31 GMT -->
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <meta name="description" content="Mrittik is a Modern Architecture Theme" />
    <meta name="author" content="" />

    <!-- Favicon and touch Icons -->
    <link href="/assets/img/favicon.png" rel="shortcut icon" type="image/png" />
    <link href="/assets/img/apple-touch-icon.html" rel="apple-touch-icon" />
    <link
      href="/assets/img/apple-touch-icon-72x72.html"
      rel="apple-touch-icon"
      sizes="72x72"
    />
    <link
      href="/assets/img/apple-touch-icon-114x114.html"
      rel="apple-touch-icon"
      sizes="114x114"
    />
    <link
      href="/assets/img/apple-touch-icon-144x144.html"
      rel="apple-touch-icon"
      sizes="144x144"
    />

    <!-- Page Title -->
    <title>TAP - Modern Architecture</title>

    <!-- Styles Include -->
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body class="bg-white">
    <!-- Preloader -->
    <div id="preloader">
      <div class="preloader-inner">
        <div class="spinner"></div>
        <div class="loading-text">
          <span data-preloader-text="T" class="characters">T</span>

          <span data-preloader-text="A" class="characters">A</span>

          <span data-preloader-text="P" class="characters">P</span>
        </div>
      </div>
    </div>

    <!-- Color Mode Switcher -->
    <div id="mode_switcher" class="d-none">
      <span><i class="bi bi-moon-fill"></i></span>
    </div>

    <!-- Cursor Effect -->
    <div class="pointer bnz-pointer" id="bnz-pointer"></div>

    <!-- Header -->
    <%- include('header'); -%>

    <!-- Page Header -->
    <!-- <div class="page_header">
      <div
        class="page_header_inner"
        style="background-image: url(/images/header-bg.jpg)"
      >
        <div class="container">
          <div
            class="page_header_content d-flex align-items-center justify-content-between"
          >
            <h2 class="heading">Projects</h2>
            <ul class="breadcrumb d-flex align-items-center">
              <li><a href="/">Home</a></li>
              <li class="active">Projects</li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Main Wrapper-->
    <main class="wrapper">
      <!-- Scroll Progress -->

      <section class="projects packery bg-transparent project-grid-list">
        <div class="container">
          <!-- <div class="portfolio-filters-content">
            <div class="filters-button-group">
              <button class="button is-checked" data-filter="*">
                All<sup class="filter-count"></sup>
              </button>
              <button class="button" data-filter=".exterior">
                Exterior<sup class="filter-count"></sup>
              </button>
              <button class="button" data-filter=".residences">
                Residences<sup class="filter-count"></sup>
              </button>
              <button class="button" data-filter=".interiors">
                Interiors<sup class="filter-count"></sup>
              </button>
              <button class="button" data-filter=".landscape">
                Landscape<sup class="filter-count"></sup>
              </button>
            </div>
          </div> -->
          <div class="grid gutter-20 grid-1 clearfix">
            <div class="grid-sizer"></div>
            <div class="grid-item residences">
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project1.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h6><a href="#">Lake Cabin</a></h6>
                    <h5>
                      <a href="#">California young menz club</a>
                    </h5>
                    <div class="details_link">
                      <a href="#"
                        ><span class="link_text">View Details</span>
                        <span class="link_icon"
                          ><span class="line"></span>
                          <span class="circle"
                            ><span class="dot"></span></span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item interiors">
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project2.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h6><a href="#">Lake Cabin</a></h6>
                    <h5>
                      <a href="#">Sunlight in the Room</a>
                    </h5>
                    <div class="details_link">
                      <a href="#"
                        ><span class="link_text">View Details</span>
                        <span class="link_icon"
                          ><span class="line"></span>
                          <span class="circle"
                            ><span class="dot"></span></span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item residences">
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project3.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h6><a href="#">Lake Cabin</a></h6>
                    <h5>
                      <a href="#">Find your own self invintage lake house</a>
                    </h5>
                    <div class="details_link">
                      <a href="#"
                        ><span class="link_text">View Details</span>
                        <span class="link_icon"
                          ><span class="line"></span>
                          <span class="circle"
                            ><span class="dot"></span></span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item landscape exterior">
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project4.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h6><a href="#">Lake Cabin</a></h6>
                    <h5>
                      <a href="#">Well decor house in Sydney</a>
                    </h5>
                    <div class="details_link">
                      <a href="#"
                        ><span class="link_text">View Details</span>
                        <span class="link_icon"
                          ><span class="line"></span>
                          <span class="circle"
                            ><span class="dot"></span></span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item landscape">
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project5.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h6><a href="#">Lake Cabin</a></h6>
                    <h5>
                      <a href="#">Huge large area Bedroom</a>
                    </h5>
                    <div class="details_link">
                      <a href="#"
                        ><span class="link_text">View Details</span>
                        <span class="link_icon"
                          ><span class="line"></span>
                          <span class="circle"
                            ><span class="dot"></span></span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item interiors">
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project6.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h6><a href="#">Lake Cabin</a></h6>
                    <h5>
                      <a href="#">Clean water in the swiming pool</a>
                    </h5>
                    <div class="details_link">
                      <a href="#"
                        ><span class="link_text">View Details</span>
                        <span class="link_icon"
                          ><span class="line"></span>
                          <span class="circle"
                            ><span class="dot"></span></span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item interiors">
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project7.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h6><a href="#">Lake Cabin</a></h6>
                    <h5>
                      <a href="#">Clean water in the swiming pool</a>
                    </h5>
                    <div class="details_link">
                      <a href="#"
                        ><span class="link_text">View Details</span>
                        <span class="link_icon"
                          ><span class="line"></span>
                          <span class="circle"
                            ><span class="dot"></span></span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item interiors">
              <div class="thumb">
                <img
                  class="item_image"
                  src="/images/projects/project8.jpg"
                  alt=""
                />
                <div class="works-info">
                  <div class="label-text">
                    <h6><a href="#">Lake Cabin</a></h6>
                    <h5>
                      <a href="#">Clean water in the swiming pool</a>
                    </h5>
                    <div class="details_link">
                      <a href="#"
                        ><span class="link_text">View Details</span>
                        <span class="link_icon"
                          ><span class="line"></span>
                          <span class="circle"
                            ><span class="dot"></span></span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn_group w-100 text-center">
            <button id="load-more" class="btn gray">Load More</button>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer-->
    <%- include('footer'); -%>

    <div class="totop">
      <a href="#">UP</a>
    </div>

    <!-- Page Grid Lines -->
    <ul class="grid_lines d-none d-md-flex justify-content-between">
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
    </ul>

    <!-- Core JS -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Side Menu -->
    <script src="/plugins/menu/ma5-menu.min.js"></script>

    <!-- Swiper for Slider Type -->
    <script src="/plugins/swiper/swiper-bundle.min.js"></script>

    <!-- Funfacts -->
    <!-- <script src="/assets/js/funfacts.js"></script> -->

    <!-- Portfolio -->
    <script src="/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="/plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/plugins/isotope/packery-mode.pkgd.js"></script>
    <script src="/plugins/isotope/tilt.jquery.js"></script>
    <script src="/plugins/isotope/isotope-init.js"></script>

    <!-- Cursor Effect -->
    <script src="/plugins/cursor-effect/cursor-effect.js"></script>

    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.min.js"></script>

    <!-- AOS effect JS -->
    <script src="/plugins/aos/aos.js"></script>

    <!-- Theme Custom JS -->
    <script src="/assets/js/theme.js"></script>
  </body>
</html>
